/* _content/Notes Manager/Views/Shared/_Layout.cshtml.rz.scp.css */
a.navbar-brand[b-q2ucqieq54] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-q2ucqieq54] {
    color: #0077cc;
}

.btn-primary[b-q2ucqieq54] {
    color: #fff;
    background-color: #1b6ec2;
}

.identity-link[b-q2ucqieq54] {
    border: solid 1px #000000;
}
.identity-link[b-q2ucqieq54] {
    border: solid 1px #626262;
    border-radius: 20px;
    margin-left: 10px;
}
